@model DepartmentViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Department</h1>
<br />
<br />

<form asp-action="Delete">
    <div asp-validation-summary="All"></div> @* List All Error Message *@
    <partial name="PartialViews/DetailsDeleteDepartmentPartial" />
    <button type="submit" value="Delete" class="btn btn-danger">Delete</button>
    <a asp-controller="Department" asp-action="Index" class="btn btn-light">Back To List</a>
</form>